[submodule "tpls/gtest"]
	path = tpls/gtest
	url = https://github.com/abseil/googletest
[submodule "tpls/cppmicroservices"]
	path = tpls/cppmicroservices
	url = https://github.com/ornl-qci/cppmicroservices
[submodule "tpls/pybind11"]
	path = tpls/pybind11
	url = https://github.com/pybind/pybind11
[submodule "tpls/boost-cmake"]
	path = tpls/boost-cmake
	url = https://github.com/ornl-qci/boost-cmake
[submodule "tpls/ExaTensor"]
	path = tpls/ExaTensor
	url = https://github.com/ornl-qci/ExaTensor
[submodule "tpls/metis"]
	path = tpls/metis
	url = https://github.com/ornl-qci/metis
